In [3]:
import pandas as pd
import numpy as np

In [4]:
pheno = pd.read_csv('tx_ukb48826.txt', sep='\t')
pheno = pheno.drop(pheno.columns[np.arange(1, 7)], axis=1)
pheno

,f.eid,f.23400.0.0,f.23400.1.0,f.23401.0.0,f.23401.1.0,f.23402.0.0,f.23402.1.0,f.23403.0.0,f.23403.1.0,f.23404.0.0,...,f.23653.0.0,f.23654.0.0,f.23655.0.0,f.23655.1.0,f.23658.0.0,f.23658.1.0,f.23659.0.0,f.23659.1.0,f.23660.0.0,f.23660.1.0
0,1000032,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1000044,5.6617,NaN,4.2980,NaN,1.9667,NaN,0.94636,NaN,3.4561,...,NaN,NaN,NaN,NaN,2019-08-08 18:57:53,NaN,2019-08-08 05:10:12,NaN,H09,NaN
2,1000060,4.7234,NaN,3.2030,NaN,1.5910,NaN,0.76401,NaN,2.2041,...,NaN,NaN,NaN,NaN,2019-11-19 02:48:01,NaN,2019-11-18 11:23:16,NaN,H02,NaN
3,1000083,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1000102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200599,6026317,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
200600,6026328,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
200601,6026345,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
200602,6026389,5.0391,NaN,3.4961,NaN,1.6767,NaN,0.73329,NaN,2.7675,...,NaN,NaN,NaN,NaN,2019-12-22 20:48:38,NaN,2019-12-21 10:13:08,NaN,B06,NaN
200603,6026407,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
pheno = pheno.iloc[:, :-16]
pheno

,f.eid,f.23400.0.0,f.23400.1.0,f.23401.0.0,f.23401.1.0,f.23402.0.0,f.23402.1.0,f.23403.0.0,f.23403.1.0,f.23404.0.0,...,f.23644.0.0,f.23644.1.0,f.23645.0.0,f.23645.1.0,f.23646.0.0,f.23646.1.0,f.23647.0.0,f.23647.1.0,f.23648.0.0,f.23648.1.0
0,1000032,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1000044,5.6617,NaN,4.2980,NaN,1.9667,NaN,0.94636,NaN,3.4561,...,55.812,NaN,39.808,NaN,29.699,NaN,10.1080,NaN,4.3801,NaN
2,1000060,4.7234,NaN,3.2030,NaN,1.5910,NaN,0.76401,NaN,2.2041,...,59.541,NaN,35.052,NaN,25.471,NaN,9.5809,NaN,5.4067,NaN
3,1000083,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1000102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200599,6026317,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
200600,6026328,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
200601,6026345,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
200602,6026389,5.0391,NaN,3.4961,NaN,1.6767,NaN,0.73329,NaN,2.7675,...,57.165,NaN,39.025,NaN,29.268,NaN,9.7571,NaN,3.8098,NaN
200603,6026407,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [88]:
threshold = pheno.shape[1]

# drop columns with more than 50% missing values
df = pheno.dropna(thresh=threshold, axis=0)

# print the resulting dataframe
for col in df.columns:
    if col.count('.') == 3:  # check if the column name matches the pattern
        dot_pos = col.find('.')  # find the position of the first dot
        new_col = col[:dot_pos+1] + col[dot_pos+1:].replace('.', '-', 1)  # replace the second dot with a hyphen
        df = df.rename(columns={col: new_col})
df

,f.eid,f.23400-0.0,f.23400-1.0,f.23401-0.0,f.23401-1.0,f.23402-0.0,f.23402-1.0,f.23403-0.0,f.23403-1.0,f.23404-0.0,...,f.23644-0.0,f.23644-1.0,f.23645-0.0,f.23645-1.0,f.23646-0.0,f.23646-1.0,f.23647-0.0,f.23647-1.0,f.23648-0.0,f.23648-1.0
247,1006458,3.9260,3.7374,2.3147,2.2461,1.1422,1.0736,0.42451,0.37674,1.5851,...,59.670,58.957,36.102,37.680,25.174,27.323,10.9280,10.3570,4.2282,3.3626
373,1009235,4.3412,4.1217,3.3312,3.1354,1.6663,1.5339,0.88766,0.87577,2.3907,...,57.532,57.747,35.620,34.797,25.650,24.928,9.9698,9.8691,6.8475,7.4560
389,1009957,4.6027,4.9510,3.5583,3.7885,1.7037,1.8407,0.84258,0.84210,2.7415,...,55.525,55.731,39.571,39.742,29.301,29.240,10.2700,10.5020,4.9043,4.5273
635,1015795,4.3932,3.4596,3.1130,2.2018,1.4394,1.0847,0.66960,0.46357,2.4268,...,56.614,59.006,39.134,36.906,29.268,27.279,9.8660,9.6266,4.2516,4.0884
636,1015804,5.9852,6.2970,4.7562,5.0005,2.3280,2.3585,1.10960,1.16240,3.8200,...,56.120,55.756,38.818,39.356,28.729,29.269,10.0890,10.0870,5.0623,4.8876
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197667,5951612,4.6475,5.0321,3.2503,3.5847,1.5516,1.8035,0.70208,0.85352,2.5356,...,57.452,58.541,38.375,36.687,28.853,26.994,9.5225,9.6925,4.1733,4.7719
197911,5958276,4.2850,5.3330,3.0118,3.8921,1.4760,1.9240,0.66750,0.87659,2.3072,...,57.515,57.683,38.256,38.122,28.344,28.170,9.9116,9.9513,4.2296,4.1950
198829,5980904,3.6397,2.8396,2.8455,2.1537,1.4002,1.0964,0.64114,0.54029,2.1877,...,56.228,56.971,38.724,37.731,28.824,28.402,9.9007,9.3289,5.0481,5.2983
199010,5985798,4.4466,4.7515,3.5452,3.7474,1.7623,1.8357,1.04270,1.03980,2.4957,...,56.812,56.545,36.009,35.929,25.986,25.362,10.0230,10.5670,7.1789,7.5261
200594,6026175,4.1570,5.1579,3.0752,3.9911,1.5050,1.9717,0.78814,1.05050,2.2616,...,56.961,57.539,37.694,36.645,27.838,26.921,9.8556,9.7246,5.3453,5.8154

In [89]:
prefixes = set([col.rsplit('-', maxsplit=1)[0] for col in df.columns[1:]])

# compute the average of the columns with the same prefix and create a new column with the result
for prefix in prefixes:
    cols_to_avg = [col for col in df.columns[1:] if col.startswith(prefix)]
    df[prefix + '-0.0'] = df.loc[:, cols_to_avg].mean(axis=1)
    df = df.drop(cols_to_avg[1:], axis=1)

# print the resulting dataframe
df

,f.eid,f.23400-0.0,f.23401-0.0,f.23402-0.0,f.23403-0.0,f.23404-0.0,f.23405-0.0,f.23406-0.0,f.23407-0.0,f.23408-0.0,...,f.23639-0.0,f.23640-0.0,f.23641-0.0,f.23642-0.0,f.23643-0.0,f.23644-0.0,f.23645-0.0,f.23646-0.0,f.23647-0.0,f.23648-0.0
247,1006458,3.83170,2.28040,1.10790,0.400625,1.62625,1.17250,1.551350,0.734115,0.391715,...,46.5325,49.2085,40.2465,8.96230,4.25880,59.3135,36.8910,26.2485,10.64250,3.79540
373,1009235,4.23145,3.23330,1.60010,0.881715,2.25930,1.63320,0.998185,2.133600,1.544150,...,49.5140,41.5325,33.8005,7.73150,8.95430,57.6395,35.2085,25.2890,9.91945,7.15175
389,1009957,4.77685,3.67340,1.77220,0.842340,2.87860,1.90120,1.103450,1.235800,0.903850,...,46.8055,47.7900,39.5120,8.27835,5.40430,55.6280,39.6565,29.2705,10.38600,4.71580
635,1015795,3.92640,2.65740,1.26205,0.566585,1.99310,1.39540,1.269050,1.038675,0.719485,...,46.9945,48.1990,39.8955,8.30405,4.80655,57.8100,38.0200,28.2735,9.74630,4.17000
636,1015804,6.14110,4.87835,2.34325,1.136000,3.94260,2.53510,1.262750,1.737050,1.260200,...,46.9200,46.9410,38.4405,8.50040,6.13875,55.9380,39.0870,28.9990,10.08800,4.97495
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197667,5951612,4.83980,3.41750,1.67755,0.777800,2.59610,1.73995,1.422250,1.388950,0.994305,...,47.0880,47.4165,39.0065,8.40955,5.49520,57.9965,37.5310,27.9235,9.60750,4.47260
197911,5958276,4.80900,3.45195,1.70000,0.772045,2.67175,1.75195,1.357050,1.129200,0.758695,...,46.9280,48.1760,39.6755,8.50010,4.89605,57.5990,38.1890,28.2570,9.93145,4.21230
198829,5980904,3.23965,2.49960,1.24830,0.590715,1.87570,1.25130,0.740070,0.848720,0.563945,...,49.5115,44.4235,37.9800,6.44380,6.06475,56.5995,38.2275,28.6130,9.61480,5.17320
199010,5985798,4.59905,3.64630,1.79900,1.041250,2.58225,1.84730,0.952720,2.377700,1.783950,...,48.8430,41.8675,34.0150,7.85285,9.28885,56.6785,35.9690,25.6740,10.29500,7.35250
200594,6026175,4.65745,3.53315,1.73835,0.919320,2.61135,1.79485,1.124250,1.972750,1.526100,...,48.1875,45.1150,37.0135,8.10145,6.69755,57.2500,37.1695,27.3795,9.79010,5.58035

In [90]:
coding = pd.read_html('MLHC17/UKBB htmls/ukb48826.html')

In [91]:
columns_descr = []
for col in [i[2:] for i in df.columns.tolist()[1:]]:
    dscr = coding[1].query('UDI == "{}"'.format(col))['Description'].values[0]
    columns_descr.append(dscr + ' (' + col + ')')

In [92]:
df.columns = ['IID'] + columns_descr

In [93]:
df.insert(0, 'FID', df['IID'])
df

/var/folders/mv/vn8c42795hd5_v9z6dz50k8r0000gn/T/ipykernel_18830/503206714.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df.insert(0, 'FID', df['IID'])

,FID,IID,Total Cholesterol (23400-0.0),Total Cholesterol Minus HDL-C (23401-0.0),"Remnant Cholesterol (Non-HDL, Non-LDL -Cholesterol) (23402-0.0)",VLDL Cholesterol (23403-0.0),Clinical LDL Cholesterol (23404-0.0),LDL Cholesterol (23405-0.0),HDL Cholesterol (23406-0.0),Total Triglycerides (23407-0.0),...,Phospholipids to Total Lipids in Medium HDL percentage (23639-0.0),Cholesterol to Total Lipids in Medium HDL percentage (23640-0.0),Cholesteryl Esters to Total Lipids in Medium HDL percentage (23641-0.0),Free Cholesterol to Total Lipids in Medium HDL percentage (23642-0.0),Triglycerides to Total Lipids in Medium HDL percentage (23643-0.0),Phospholipids to Total Lipids in Small HDL percentage (23644-0.0),Cholesterol to Total Lipids in Small HDL percentage (23645-0.0),Cholesteryl Esters to Total Lipids in Small HDL percentage (23646-0.0),Free Cholesterol to Total Lipids in Small HDL percentage (23647-0.0),Triglycerides to Total Lipids in Small HDL percentage (23648-0.0)
247,1006458,1006458,3.83170,2.28040,1.10790,0.400625,1.62625,1.17250,1.551350,0.734115,...,46.5325,49.2085,40.2465,8.96230,4.25880,59.3135,36.8910,26.2485,10.64250,3.79540
373,1009235,1009235,4.23145,3.23330,1.60010,0.881715,2.25930,1.63320,0.998185,2.133600,...,49.5140,41.5325,33.8005,7.73150,8.95430,57.6395,35.2085,25.2890,9.91945,7.15175
389,1009957,1009957,4.77685,3.67340,1.77220,0.842340,2.87860,1.90120,1.103450,1.235800,...,46.8055,47.7900,39.5120,8.27835,5.40430,55.6280,39.6565,29.2705,10.38600,4.71580
635,1015795,1015795,3.92640,2.65740,1.26205,0.566585,1.99310,1.39540,1.269050,1.038675,...,46.9945,48.1990,39.8955,8.30405,4.80655,57.8100,38.0200,28.2735,9.74630,4.17000
636,1015804,1015804,6.14110,4.87835,2.34325,1.136000,3.94260,2.53510,1.262750,1.737050,...,46.9200,46.9410,38.4405,8.50040,6.13875,55.9380,39.0870,28.9990,10.08800,4.97495
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197667,5951612,5951612,4.83980,3.41750,1.67755,0.777800,2.59610,1.73995,1.422250,1.388950,...,47.0880,47.4165,39.0065,8.40955,5.49520,57.9965,37.5310,27.9235,9.60750,4.47260
197911,5958276,5958276,4.80900,3.45195,1.70000,0.772045,2.67175,1.75195,1.357050,1.129200,...,46.9280,48.1760,39.6755,8.50010,4.89605,57.5990,38.1890,28.2570,9.93145,4.21230
198829,5980904,5980904,3.23965,2.49960,1.24830,0.590715,1.87570,1.25130,0.740070,0.848720,...,49.5115,44.4235,37.9800,6.44380,6.06475,56.5995,38.2275,28.6130,9.61480,5.17320
199010,5985798,5985798,4.59905,3.64630,1.79900,1.041250,2.58225,1.84730,0.952720,2.377700,...,48.8430,41.8675,34.0150,7.85285,9.28885,56.6785,35.9690,25.6740,10.29500,7.35250
200594,6026175,6026175,4.65745,3.53315,1.73835,0.919320,2.61135,1.79485,1.124250,1.972750,...,48.1875,45.1150,37.0135,8.10145,6.69755,57.2500,37.1695,27.3795,9.79010,5.58035

In [97]:
df.columns =df.columns.str.replace(r'\s+', '_', regex=True)

In [98]:
df

,FID,IID,Total_Cholesterol_(23400-0.0),Total_Cholesterol_Minus_HDL-C_(23401-0.0),"Remnant_Cholesterol_(Non-HDL,_Non-LDL_-Cholesterol)_(23402-0.0)",VLDL_Cholesterol_(23403-0.0),Clinical_LDL_Cholesterol_(23404-0.0),LDL_Cholesterol_(23405-0.0),HDL_Cholesterol_(23406-0.0),Total_Triglycerides_(23407-0.0),...,Phospholipids_to_Total_Lipids_in_Medium_HDL_percentage_(23639-0.0),Cholesterol_to_Total_Lipids_in_Medium_HDL_percentage_(23640-0.0),Cholesteryl_Esters_to_Total_Lipids_in_Medium_HDL_percentage_(23641-0.0),Free_Cholesterol_to_Total_Lipids_in_Medium_HDL_percentage_(23642-0.0),Triglycerides_to_Total_Lipids_in_Medium_HDL_percentage_(23643-0.0),Phospholipids_to_Total_Lipids_in_Small_HDL_percentage_(23644-0.0),Cholesterol_to_Total_Lipids_in_Small_HDL_percentage_(23645-0.0),Cholesteryl_Esters_to_Total_Lipids_in_Small_HDL_percentage_(23646-0.0),Free_Cholesterol_to_Total_Lipids_in_Small_HDL_percentage_(23647-0.0),Triglycerides_to_Total_Lipids_in_Small_HDL_percentage_(23648-0.0)
247,1006458,1006458,3.83170,2.28040,1.10790,0.400625,1.62625,1.17250,1.551350,0.734115,...,46.5325,49.2085,40.2465,8.96230,4.25880,59.3135,36.8910,26.2485,10.64250,3.79540
373,1009235,1009235,4.23145,3.23330,1.60010,0.881715,2.25930,1.63320,0.998185,2.133600,...,49.5140,41.5325,33.8005,7.73150,8.95430,57.6395,35.2085,25.2890,9.91945,7.15175
389,1009957,1009957,4.77685,3.67340,1.77220,0.842340,2.87860,1.90120,1.103450,1.235800,...,46.8055,47.7900,39.5120,8.27835,5.40430,55.6280,39.6565,29.2705,10.38600,4.71580
635,1015795,1015795,3.92640,2.65740,1.26205,0.566585,1.99310,1.39540,1.269050,1.038675,...,46.9945,48.1990,39.8955,8.30405,4.80655,57.8100,38.0200,28.2735,9.74630,4.17000
636,1015804,1015804,6.14110,4.87835,2.34325,1.136000,3.94260,2.53510,1.262750,1.737050,...,46.9200,46.9410,38.4405,8.50040,6.13875,55.9380,39.0870,28.9990,10.08800,4.97495
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197667,5951612,5951612,4.83980,3.41750,1.67755,0.777800,2.59610,1.73995,1.422250,1.388950,...,47.0880,47.4165,39.0065,8.40955,5.49520,57.9965,37.5310,27.9235,9.60750,4.47260
197911,5958276,5958276,4.80900,3.45195,1.70000,0.772045,2.67175,1.75195,1.357050,1.129200,...,46.9280,48.1760,39.6755,8.50010,4.89605,57.5990,38.1890,28.2570,9.93145,4.21230
198829,5980904,5980904,3.23965,2.49960,1.24830,0.590715,1.87570,1.25130,0.740070,0.848720,...,49.5115,44.4235,37.9800,6.44380,6.06475,56.5995,38.2275,28.6130,9.61480,5.17320
199010,5985798,5985798,4.59905,3.64630,1.79900,1.041250,2.58225,1.84730,0.952720,2.377700,...,48.8430,41.8675,34.0150,7.85285,9.28885,56.6785,35.9690,25.6740,10.29500,7.35250
200594,6026175,6026175,4.65745,3.53315,1.73835,0.919320,2.61135,1.79485,1.124250,1.972750,...,48.1875,45.1150,37.0135,8.10145,6.69755,57.2500,37.1695,27.3795,9.79010,5.58035

In [99]:
df.to_csv('ukb_clean.tsv', index = None, sep = '\t')