In [1]:
import pandas as pd
import numpy as np

In [2]:
dry = pd.read_csv('dry_run_scores.csv')
dry = dry[dry['similarities'] > 0.5]
dry

     patient_id            genes  similarities
9       Group_1  ENSG00000157542      0.518108
10      Group_1  ENSG00000121691      0.602180
19      Group_1  ENSG00000173638      0.533083
20      Group_1  ENSG00000077327      0.600281
21      Group_1  ENSG00000165973      0.582941
...         ...              ...           ...
4401   Group_15  ENSG00000067715      0.544815
4402   Group_15  ENSG00000116106      0.539390
4403   Group_15  ENSG00000157087      0.501211
4405   Group_15  ENSG00000144285      0.518696
4412   Group_15  ENSG00000198626      0.505152

[591 rows x 3 columns]

In [3]:
second = pd.read_csv('second_run_scores.csv')
second = second[second['similarities'] > 0.5]
second

     patient_id            genes  similarities
9       Group_1  ENSG00000157542      0.518042
10      Group_1  ENSG00000121691      0.602210
19      Group_1  ENSG00000173638      0.533078
20      Group_1  ENSG00000077327      0.600035
21      Group_1  ENSG00000165973      0.582783
...         ...              ...           ...
4397   Group_15  ENSG00000157445      0.513065
4401   Group_15  ENSG00000067715      0.542311
4402   Group_15  ENSG00000116106      0.534554
4405   Group_15  ENSG00000144285      0.518588
4412   Group_15  ENSG00000198626      0.503062

[580 rows x 3 columns]

In [4]:
ensembl = pd.read_csv('~/code/mart_export.txt', sep='\t')
dry_converted = pd.merge(dry, ensembl, left_on='genes', right_on='Gene stable ID')
second_converted = pd.merge(second, ensembl, left_on='genes', right_on='Gene stable ID')

In [5]:
dry_converted = dry_converted.groupby('patient_id').apply(lambda x: x.sort_values(['similarities'], ascending=False)).reset_index(drop=True)
second_converted = second_converted.groupby('patient_id').apply(lambda x: x.sort_values(['similarities'], ascending=False)).reset_index(drop=True)

In [6]:
dry_converted

    patient_id            genes  similarities   Gene stable ID Gene name
0      Group_1  ENSG00000156709      0.682355  ENSG00000156709     AIFM1
1      Group_1  ENSG00000166949      0.645276  ENSG00000166949     SMAD3
2      Group_1  ENSG00000197859      0.629174  ENSG00000197859  ADAMTSL2
3      Group_1  ENSG00000163635      0.625017  ENSG00000163635     ATXN7
4      Group_1  ENSG00000197122      0.623342  ENSG00000197122       SRC
..         ...              ...           ...              ...       ...
586    Group_9  ENSG00000169032      0.518219  ENSG00000169032    MAP2K1
587    Group_9  ENSG00000198087      0.514089  ENSG00000198087     CD2AP
588    Group_9  ENSG00000104381      0.506969  ENSG00000104381     GDAP1
589    Group_9  ENSG00000108061      0.502447  ENSG00000108061     SHOC2
590    Group_9  ENSG00000163069      0.500796  ENSG00000163069      SGCB

[591 rows x 5 columns]

In [7]:
second_converted

    patient_id            genes  similarities   Gene stable ID Gene name
0      Group_1  ENSG00000156709      0.682406  ENSG00000156709     AIFM1
1      Group_1  ENSG00000166949      0.645110  ENSG00000166949     SMAD3
2      Group_1  ENSG00000197859      0.629103  ENSG00000197859  ADAMTSL2
3      Group_1  ENSG00000163635      0.625046  ENSG00000163635     ATXN7
4      Group_1  ENSG00000197122      0.623160  ENSG00000197122       SRC
..         ...              ...           ...              ...       ...
575    Group_9  ENSG00000085224      0.518066  ENSG00000085224      ATRX
576    Group_9  ENSG00000169032      0.516705  ENSG00000169032    MAP2K1
577    Group_9  ENSG00000198087      0.511838  ENSG00000198087     CD2AP
578    Group_9  ENSG00000104381      0.507238  ENSG00000104381     GDAP1
579    Group_9  ENSG00000108061      0.501369  ENSG00000108061     SHOC2

[580 rows x 5 columns]

In [8]:
dry_converted.to_csv('dry_run_final.tsv', sep='\t', index=None)
second_converted.to_csv('second_run_final.tsv', sep='\t', index=None)